html, body {
  width: 100%;
}

header, nav, section, article, footer {
  display: block;
}

header {
  width: 100%;
  overflow: hidden;
  background: white; 
}
nav {
  width:85%; 
  height: 10%; 
  float: right;  
  margin-right: 3px;
  background: #ffffff;
  border: 1px solid white;
}
section {
  width:100%;
  float: left;
  background: white;
  border: 1px solid red;
  
}
article {
  /*width:auto; */
  float: left;
  background: #ffffff;
  border: 1px solid blue;
}

footer {
  width:100%;
  overflow: hidden;
  clear:both;
  background: #ffffff;
  border: 1px solid orange;
}

#search-box {
    position: relative;
    width: 100%;
    margin: 0;
}
#search-form {
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    width: 50px%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}
#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #FF7F27;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

#combo-producto{
float:  left;
position: relative;
width: 50px%;
border: 1px solid white;

}
 option.prod {
width:400px; 
color:orange;
}
 .img_boton{
float:  right;
}

#cont_banner{
position: relative;
width: 100%;
border: 1px solid orange;
}

#buscar{
float: left;
width:65%;
border: 1px solid blue;
}


.menu {
background: #D3DDE7;
width: 100%;  
}

.pestana {
  float: left;
  width: auto;
  height: auto;
  margin: none;
  background: white;
}
.after-pestana {
  clear: left;
}



.logo_derecha{
  float: left;
  width: auto;
}

.btn_bloquear{
position:relative; 
width: 100%;
left:0px; /*A la derecha deje un espacio de 0px*/
right:0px; /*A la izquierda deje un espacio de 0px*/
bottom:0px;
border: 1px solid white;
}

.barra_sup{
  width: 100%;
  background: #D3DDE7;
}

.barra_sup2{
  width: 100%;
  background: #D3DDE7;
  margin-top: 5px;
}

.espacio_left{
  margin-left: 20px;
 }

 .container{
  float: left;
  width: auto;
 }

/* .barra_inf{
   float: left;
  width: auto;
  height: auto;
  margin: 1px;
}*/




#container div {
  float: left;
  width: auto;
  margin-top: 20px;
 }

 .cont_user{
  position: absolute;
  float: left;
  width: auto;
  border: 1px solid gray;
 }

.containter_interno{
  float: left;
  width: 100%;
  border: 1px solid blue;
}


$rr = md5($rr);