<!DOCTYPE html>
<html lang = "es">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="css/960.css">
	<link rel="stylesheet" href="css/960_12_col.css">
	<link rel="stylesheet" href="css/reset.css">
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 15px;
		}

		a {
			text-decoration: none;
			color: blue;
		}

		.grid_2 {
			height:300px;
			width: 100%;
			background-color: yellow;
		} 
	</style>
	<div class="grid_2 alpha" style="background-color: transparent; margin-top: 20px; height: auto; width: 1280px; max-width: 1280px; margin-left: 0px;">
		<div style="margin-left: 70px; margin-top: 40px; margin-bottom: 20px; margin-right: 70px;">
			<div style="height: auto;"> <center>
	         <table height="auto" style="width: 100%;"> <tr>
	            <td>
	              <table border="0" height="auto" style="width: 200px; border-collapse: separate; border-spacing: 20px;">
	                <tr>
	                  <td> Síguenos </td>
	                  <td> <a href="#"><img src="img/logo_face.png" /></a> </td>
	                  <td> <a href="#"><img src="img/logo_twitter.png" /></a> </td>
	                  <td> <a href="#"><img src="img/logo_tube.png" /></a> </td>
	                  <td> <a href="#"><img src="img/logo_in.png" /></a> </td>
	                  <td> <a href="#"><img src="img/Logo_pinterest.png" /></a> </td>
	                  <td> <a href="#"><img src="img/logo_plus.png" /></a> </td>
	                </tr>
	              </table>
	            </td>
	            <td style="padding-left: 20px; vertical-align: middle; padding-bottom: 60px;">
	              <table border="0" height="auto" style="width: 200px; border-collapse: collapse;">
	                <tr>
	                  <td style="padding-top: 15px;"> 
	                    <input type="text" name="ingresar_email" placeholder="Ingresa tu E-Mail" 
	                      style="height: 26px; width: 210px;"/>
	                  </td>
	                  <td style="padding-top: 15px;">
	                    <input type="button" name="email" value="Suscribirme" 
	                      style="height: 32px; width: 120px; background-color: #33b4ec; color: white; cursor: pointer;"/>
	                  </td>
	                </tr>
	              </table>
	            </td>
	            <td style="padding-left: 70px; padding-top: 15px;">
	              <table border="1" height="auto" style="width: 200px;">
	                <tr> <td> <center> <a href="#"> <img src="img/Registro_Gratis.png" /> </a> </center> </td> </tr>
	                <tr> <td> <center> 
	                  ¿Aún no eres miembro de Proveedor.com.co? 
	                </center> </td> </tr>
	              </table>
	            </td>
	         </tr> </table> </center>
			</div> <!-- cierre primer seccion del footer -->
			<div style="height: auto;"> <center>
	       <table height="auto" style="width: auto"> <tr>
	          <td>
	            <table border="0" height="auto" 
	                style="width: 100px; border-collapse: separate; border-spacing: 0em; padding-left: 0px;">
	              <tr> <td> Sobre Proveedor.com.co </td> </tr>
	              <tr> <td style="padding-bottom: 20px;"> <img src="img/separador_2.png" /> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Quiénes Somos </p> </a> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Patrocinadores </p> </a> </td> </tr>
	            </table>
	          </td>
	          <td>
	            <table border="0" height="auto" 
	                style="width: 100px; border-collapse: separate; border-spacing: 0em; padding-left: 5px;">
	              <tr> <td> Ayuda e Información </td> </tr>
	              <tr> <td style="padding-bottom: 20px;"> <img src="img/separador_2.png" /> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Quiénes Somos </p> </a> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Patrocinadores </p> </a> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Preguntas Frecuentes </p> </a> </td> </tr>
	            </table>
	          </td>
	          <td>
	            <table border="0" height="auto" 
	                style="width: 100px; border-collapse: separate; border-spacing: 0em; padding-left: 5px;">
	              <tr> <td> Servicios y Herramientas </td> </tr>
	              <tr> <td style="padding-bottom: 20px;"> <img src="img/separador_2.png" /> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Oficina Virtual </p> </a> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Herramientas de Comunicación </p> </a> </td> </tr>
	            </table>
	          </td>
	          <td>
	            <table border="0" height="auto" 
	                style="width: 100px; border-collapse: separate; border-spacing: 0em; padding-left: 5px;">
	              <tr> <td> Ayúdanos a mejorar </td> </tr>
	              <tr> <td style="padding-bottom: 20px;"> <img src="img/separador_2.png" /> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> Sugerencias y Comentarios </p> </a> </td> </tr>
	            </table>
	          </td>
	          <td>
	            <table border="0" height="auto" 
	                style="width: 100px; border-collapse: separate; border-spacing: 0em; padding-left: 5px;">
	              <tr> <td> Contáctanos </td> </tr>
	              <tr> <td style="padding-bottom: 20px;"> <img src="img/separador_2.png" /> </td> </tr>
	              <tr> <td> <a href="#"> <p style="color: grey;"> @ </p> </a> </td> </tr>
	            </table>
	          </td>
	        </tr> </table> </center>
	    </div> <!-- cierre segunda seccion del footer -->
	    <br> <br>
			<div style="height: auto;"> <center>
				<p style="font-size: 12px;">
					El uso de éste sitio web implica la aceptación de los 
					<a href="#">  Términos y Condiciones </a> y de las
					<a href="#"> Políticas de privacidad </a> de Proveedor.com.co
				</p>
				<br>
				<p style="font-size: 12px;"> Copyright (c) Proveedor.com.co S.A.S </p>
			</center> </div>
		</div>
	</div>
			<footer>
			<?php echo google_analytics('UA-56575808-1');  ?>
		</footer>
</html>