<html>
<head>
		<meta charset="utf-8"> 	
	<title></title>

	<link href="dist/css/bootstrap.min.css" rel="stylesheet">
 	<link href="dist/css/bootstrap.css" rel="stylesheet">
 	<link href="dist/css/navbar.css" rel="stylesheet">
  <link href="dist/css/nabvar-jusfied-na.css" rel="stylesheet">

<style >
 #estilo_1{
  font-size: arial;
  
 }
  #centrado_1{
  margin-top: 5px;
  margin-left:  -165px;
  color :#CDCDCE;
  
 }
 #centrado_2{
  margin-top: -9px;
  margin-left:  -165px;
  color :#CDCDCE;
  
 }
 #centrado_3{
  margin-top: -10px;
  margin-left:  -165px;
  color :#CDCDCE;
  
 }

</style>

</head>
<body>
     <div class="container">

    <!-- Static navbar -->
    <div  class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Inicio</a>
              <td style="background: #f1f1f1; border-bottom: 2px solid #00a2e8;"> <div style="border-right: 1px dotted #969696; height: 32px; margin-top: -40px;"> </div> </td>
            </li>
            <li><a href="#">Mensajes</a>
            <td style="background: #f1f1f1; border-bottom: 2px solid #00a2e8;"> <div style="border-right: 1px dotted #969696; height: 32px; margin-top: -40px;"> </div> </td>
            </li>
            </li>
            <li><a href="#">Contacto</a>
            <td style="background: #f1f1f1; border-bottom: 2px solid #00a2e8;"> <div style="border-right: 1px dotted #969696; height: 32px; margin-top: -40px;"> </div> </td>
            </li>
            </li>
            <li><a href="#">Productos</a>
            <td style="background: #f1f1f1; border-bottom: 2px solid #00a2e8;"> <div style="border-right: 1px dotted #969696; height: 32px; margin-top: -40px;"> </div> </td>
            </li>
            </li>
            <li><a href="#">Solicitudes</a>
            <td style="background: #f1f1f1; border-bottom: 2px solid #00a2e8;"> <div style="border-right: 1px dotted #969696; height: 32px; margin-top: -40px;"> </div>
             </td>
            </li>
            </li>

          </ul>
          
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>
  </div>

  <div class="container">
            
               <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                   <p class="text-left"> <h2> <p id="estilo_1" class="text-primary_1">Editar Perfil de la Empresa</p> </h2></p>
                  </div>
              </div>

              <div class="well_my_three_1">
                  <p class="lead">Editar Informaciòn de cuenta</p>
              </div>

            <div class="container_1">
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                   <samp class="input-group-addon">@</samp>
                    <input type="text" class="form-control_1" placeholder="Mail">
                  </div>

                  <div class="input-group_1">
                   <samp class="input-group-addon">@</samp>
                    <input type="text" class="form-control_2" placeholder="Password">
                  </div>

                   <div class="input-group_1">
                   <samp class="input-group-addon">@</samp>
                    <input type="text" class="form-control_3" placeholder="New Password">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary_1 ">Guardar cambios</button>
                </div>

                <div class="col-md-4">
                  <p id="centrado_1">Ingresar correo electrònico (Mail)</p> <br>
                  <p id="centrado_2">Ingresar contraseña actual</p> <br>
                  <p id="centrado_3">Ingresar nueva contraseña</p>

                </div>

              </div>

              <div class="well_my_three_2">
                  <p class="lead">Editar informaciòn de contacto</p>
              </div>
            </div>
            
  </div>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src = "dist/js/bootstrap.js"></script>
	<script src = "dist/js/bootstrap.min.js"></script>
	<script src = "dist/js/jquery.js"></script>

	<script src = "dist/js/dropdown.js"></script>
</body>
</html>