{% extends '_layouts/base.html.twig' %}
{% block title %}
    Hola Mundo con Twig
{% endblock %}
{% block content %}
	{% include "components/navbar_empresa.html.twig" %}
	<div class="row">
		<div class="col-md-12">
			<table>
			    {% for user in users if users %}
				    <tr>
					    <td>{{user.id}}</td>
					    <td>{{user.nombre}}</td>
					    <td>{{user.correo}}</td>
				    </tr>
			    {% endfor %}
			</table>
		</div>
			<!-- /.col-md-12 -->	
	</div>
	<!-- /.row -->
{% endblock %}
