
/* ------------------------------------------------- */

#tabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: -2px; /* -3px */
}

#tabs li{
  float: left;
  margin: 0 .5em 0 0; 
}


#tabs a {
  /* pestañas no seleccionadas */
  position: relative;
  background: #fff;
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border: 1px solid #dddddd;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #fff;
}

#tabs a:focus{
  outline: 0;
}

#tabs a::after{
  /* content:''; */
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;  
}

/* #tabs #current {
  border-bottom: 3px solid #00a2e8;
} */

#tabs #current a,
#tabs #current a::after {
  /* pestaña seleccionada */
  background: #f7f7f7;
  z-index: 3;
  border-top: 3px solid #00a2e8;
  margin-bottom: 0px;
  height: 16.9px;
  font-weight: bold;
  border-bottom: none;
}

/* ------------------------------------------------- */

#content {
  background: #fff;
  padding: 2em;
  height: 220px;
  position: relative;
  z-index: 2;	
  border-top: 1px solid #ddd;  
}

#content #tab1 div, #content #tab1 table[id*="tablita_paginacion"], 
#content #tab1 table div[class*="grid_4"], #content #tab1 table div[class*="grid_2 alpha"], #content #tab1 table div,
#content #tab1 table div[id*="Searchresult"],
#content #tab2 div, #content #tab3 div/*, #content #tab2 table[id*="tablita_paginacion"], 
#content #tab2 table div[class*="grid_4"], #content #tab2 table div[class*="grid_2 alpha"], #content #tab2 table div,
#content #tab2 table div[id*="Searchresult"],*/ {
  /* forzar mostrado de elementos para pagina listado (para la tab1 que no mostraba sino display: none) */
  /* mediante los selectores de CSS3 seleccionar TODOS y CADA div y tablita correspondiente a #tab1 */
  /* segun: http://librosweb.es/css_avanzado/capitulo_3/selectores_de_css_3.html*/
  display: block !important;
  width: auto;
  border: 1px solid transparent; /* forzar mostrado en firefox */
}

#content h2, #content h3, #content p
{
    margin: 0 0 15px 0;
}

/* ------------------------------------------------- */

#about
{
    color: #999;
}

#about a
{
    color: #eee;
}
