<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - Proveedor.com.co</title>
</head>
<body>
	{% block content %}
	    Hola {{ name}}
	{% endblock %}
</body>
</html>