.active{
	border-bottom: 4px solid #FF7F27;
	color: #111 !important;
}
.ico-user{
	font-size: 16px;
	color: #FF7F27;
}
.icostyle-config{
    padding: 6px 10px 17px 9px !important;
    font-size: 26px;
    color: #FF7F27;
}
.icostyle-config:hover{
	color: #FF7F27;
	background-color: transparent !important;
}
.img-style{
    width: 80%;
    padding-left: 20px;
}
.item-list{
    background-color: transparent !important;
    color: #7f7f7f;	
    font-weight: bold;
    font-size: 13px;
    padding: 12px 12px !important;
}
.item-list:hover{
	color: #7f7f7f;
}
.list-menu{
    padding: 9px 10px 5px 10px;
    font-size: 14px;
}
.list-menu > span , .list-menu > a.nom_username{
	display: inline-block;
}
.nom_username{
    font-weight: bold;
    color: #FF7F27;
    font-size: 16px;
    padding: 9px 0 0 0 !important;
}
.nom_username:hover{
	background-color: transparent !important;
	color: #FF7F27;
}
.padding-style{
    padding-left: 80px;
}
.top_menu_conf{
	width: 100%;
	height: 62px;
	border-bottom: 4px solid #337ab7;
}
.salir{
	background-color: transparent !important;
	color: #7f7f7f;
	border-left: 1px solid #ccc;
    padding: 0px 0px 0px 15px !important;
    margin-top: 9px;
}
.salir:hover{
	background-color: transparent !important;
	color: #7f7f7f;
}

@media (max-width: 1280px) {
	.padding-style{
		padding-left: 15px;
	}
	.palabras-maxima{
	    left: 443px !important;
	}
	.list-menu{
    	padding: 9px 8px 5px 8px;
    	font-size: 14px;
	}
}