<html>
<head>
	<title></title>
<link href="dist/css/bootstrap.theme.min.css" rel="stylesheet">
<link href="dist/css/bootstrap.min.css" rel="stylesheet">
<link href="dist/css/bootstrap.css" rel="stylesheet">
<link href="dist/css/navbar.css" rel="stylesheet">
<link href="dist/css/nabvar-jusfied-na.css" rel="stylesheet">

	<link rel="stylesheet" href="dist/css/estilo.css">
</head>

<body>
    <div class="container">
	 <h1>Editar perfil de la empresa</h1>
	</div>
	<header>Edtiar informacion de cuenta</header>
 	
 	 <input type="text" class="form-control_my_1" placeholder="Mail">
 	 <p>ingresar mail</p>

	


</body>
</html>