html, body {
	font-family: Arial;
}

a {
	text-decoration: none;
}

.header_iconos {
	font-family: Arial;
	background-color: #f1f1f1; 
	width: 153px;
	/*border-right: 1px dotted #969696; */
	vertical-align: middle; 
	text-align: center;
	border-bottom: 4px solid #00a2e8;
	font-size: 16px;
}

.header_iconos.activo {
	border-bottom: 4px solid #ff7f27;
	font-size: 18px;
	font-weight: bold;
}

.header_iconos a {
	color: grey;
}

/* color azul color: rgb(0, 102, 255); */