{% if empresa.banners %}
    <div class="row banners">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for banner in empresa.banners %}
                    {% if not (banner =='') %}
                        <div class="banner item {% if loop.first %}active{% endif %}"> 
                            <img class="banners-img" src="{{base_url()}}uploads/banners/{{banner}}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div><!-- /.carousel-inner -->
        </div>
    </div>
{% endif %}