{% if empresa.banners %}
    <div class="row banners">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="banner item"> 
                    <img class="banners-img" src="http://lorempixel.com/400/200/sports/">
                </div>
                <div class="banner item"> 
                    <img class="banners-img" src="http://lorempixel.com/200/200/sports/">
                </div>
                <div class="banner item active"> 
                    <img class="banners-img" src="http://lorempixel.com/200/400/sports/">
                </div>

            </div><!-- /.carousel-inner -->
        </div>
    </div>
{% endif %}