<div class="row banners">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="banner item active"> 
                <img src="http://lorempixel.com/800/500/" alt="Primer banner">
            </div>
            <div class="banner item"> 
                <img  src="http://lorempixel.com/800/800/" alt="Segundo Banner">
            </div>

        </div><!-- /.carousel-inner -->
    </div>
</div>

<!-- Este codigo no ha sido probado ya que en la maquina virtual no hay banners
y no se como es el manejo de esto. -->

{% if banners %}
    <div class="row banners">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for banner in banners %}
                    <div class="banner item {% if loop.first %}active{% endif %}"> 
                        <img src="{{banner.image_url}}">
                    </div>
                {% endfor %}
            </div><!-- /.carousel-inner -->
        </div>
    </div>
{% endif %}