<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-block btn-lg color-naranja">
        <i class="fa fa-phone"></i>
        <a href="tel:3183185458" class="color-naranja">3183185458</a>
        </button>
    </div>
</div>