{% if usuario.celular != "" %}
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-block btn-lg color-naranja">
        <i class="fa fa-phone"></i>
        <a href="tel:{{usuario.celular}}" class="color-naranja">{{usuario.celular}}</a>
        </button>
    </div>
</div>
{% endif %}