<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-block btn-lg color-naranja">
        <i class="fa fa-envelope"></i>
        Contactenos
        </button>
    </div>
</div>