<div class="row header">
    <div class="col-xs-12">
        <button class="btn btn-block btn-lg color-naranja">
            <i class="glyphicon glyphicon-envelope icono"></i>
            <strong>
                CONTÁCTENOS
            </strong>
        </button>
    </div>
</div>