<div class="row header">
    <div class="col-xs-12">
        <button class="btn btn-block btn-lg color-naranja">
            <strong>
                SOLICITAR COTIZACIÓN
            </strong>
        </button>
    </div>
</div>