<div class="row">
	<div class="col-xs-12 contacto">
		<h3 class="titulos"><strong>Contáctenos</strong></h3>
		<p class="ciudad"><i class="fa fa-map-marker font-naranja ico_puntero"></i>{{ usuario.ciudad|title }}</p>
		<div class="col-xs-12 cont_titulo">
			<p class="titulo"><i class="font-naranja icono glyphicon glyphicon-home"></i>Dirección</p>
		</div>
		<div class="col-xs-12 cont_texto">
			<p class="texto">Dirección de la empresa</p> <!-- insertar variable -->
		</div>
		<div class="col-xs-12 cont_titulo">
			<p class="titulo"><i class="font-naranja icono fa fa-phone"></i>Teléfono</p>
		</div>
		<div class="col-xs-12 cont_texto">
			<p class="texto">Teléfono de la empresa</p> <!-- insertar variable -->
		</div>
		<div class="col-xs-12 cont_titulo">
			<p class="titulo"><i class="font-naranja icono fa fa-globe"></i>Página Web</p>
		</div>
		<div class="col-xs-12 cont_texto">
			<p class="texto"><a href="#" class="url">Página web de la empresa</a></p> <!-- insertar variable -->
		</div>
		<div class="col-xs-12 cont_titulo">
			<p class="titulo"><i class="font-naranja icono fa fa-facebook-square"></i>Facebook</p>
		</div>
		<div class="col-xs-12 cont_texto">
			<p class="texto"><a href="#" class="url">Facebook de la empresa</a></p><!-- insertar variable -->
		</div>
		<div class="col-xs-12 cont_titulo">
			<p class="titulo"><i class="font-naranja icono fa fa-twitter-square"></i>Twitter</p>
		</div>
		<div class="col-xs-12 cont_texto">
			<p class="texto"><a href="#" class="url">Twitter de la empresa</a></p><!-- insertar variable -->
		</div>
		<div class="col-xs-12">
			<button class="btn btn-default solicitud"><p class="texto_solicitud"><i class="fa fa-file-text icono2"></i>SOLICITAR COTIZACIÓN</p></button>
		</div>
	</div>
	<!-- /.col-xs-12 -->
</div>
<!-- /.row -->