<div class="row">
    <div class="col-xs-12">
        <h3><strong>Catálogo - Productos principales</strong></h3>
        <hr>
        {% for catalogo in catalogos %}
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="http://lorempixel.com/400/400/technics/image-{{loop.index}}" alt="">
                    <!-- <img src="{{ producto.imagenes }}" alt="Imagen del producto"> -->
                </div>
                <div class="col-xs-8">
                    <div>
                        <button class="btn btn-lg ">
                            <i class="fa fa-download font-withe"></i>
                            DESCARGAR
                        </button>
                    </div>
                </div>
            </div>
            <hr>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <p>La empresa no ha publicado catalogos</p>
                </div>
            </div>            
        {% endfor %}
    </div>
</div>