<div class="row">
  <div class="navbar-empresa">
    <div class="col-xs-2 active">
      <button type="button" class="btn btn-lg btn-block">
        <i class="glyphicon glyphicon-home"></i>
      </button>
    </div>
    <div class="col-xs-2">    
      <button type="button" class="btn btn-lg btn-block">
        <i class="glyphicon glyphicon-list"></i>
      </button>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-lg btn-block">
        <i class="glyphicon glyphicon-briefcase"></i>
      </button>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-lg btn-block">
        <i class="fa fa-file-text-o"></i>
      </button>
    </div>    
    <div class="col-xs-2">
      <button type="button" class="btn btn-lg btn-block">
        <i class="fa fa-phone"></i>
      </button>
    </div>

    <div class="col-xs-2">
      <button type="button" class="btn btn-lg btn-block">
        <i class="glyphicon glyphicon-download-alt"></i>
      </button>
    </div>
  
  </div>
</div>
<!-- /.row -->

