<div class="row">
    <div class="col-xs-4">
        <a href="" class="btn btn-default">Anterior</a>
    </div>
    <div class="col-xs-4">
        <p class="text-center center-vertical-text">1/6</p>
    </div>
    <div class="col-xs-4">
        <a href="" class="btn btn-default pull-right">Siguiente</a>
    </div>
</div>