<div class="row">
	<div class="col-xs-12 productos_principales">
		<p class="texto_titulo">Productos Principales</p>
		<div class="swiper-container">
    		<!-- Additional required wrapper -->
    		<div class="swiper-wrapper">
        		<!-- Slides -->
        		<div class="item_slider_producto">
        			<img src="http://lorempixel.com/100/71/" alt="" class="imagen">
        			<p class="nombre_producto">Insertar Variable para nombre</p>
        			<p class="precio font-naranja">Insertar variable precio</p>
        		</div>
        		<div class="item_slider_producto">
        			<img src="http://lorempixel.com/100/71/" alt="" class="imagen">
        			<p class="nombre_producto">Insertar Variable para nombre</p>
        			<p class="precio font-naranja">Insertar variable precio</p>
        		</div>
        		<div class="item_slider_producto">
        			<img src="http://lorempixel.com/100/71/" alt="" class="imagen">
        			<p class="nombre_producto">Insertar Variable para nombre</p>
        			<p class="precio font-naranja">Insertar variable precio</p>
        		</div>
    		</div>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-default ver_todo">Ver Todos</button>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-default solicitud"><p class="texto_solicitud"><i class="fa fa-file-text icono"></i>SOLICITAR COTIZACIÓN</p></button>
		</div>
	</div>
	<!-- ./col-xs-12 -->
</div>
<!-- ./row -->