<div class="row">
    <div class="multiple-items">
        <div>Value 1<img src="http://lorempixel.com/80/81/" alt=""></div>
        <div>Value 2<img src="http://lorempixel.com/80/82/" alt=""></div>
        <div>Value 3<img src="http://lorempixel.com/80/83/" alt=""></div>
        <div>Value 4<img src="http://lorempixel.com/80/84/" alt=""></div>
        <div>Value 5<img src="http://lorempixel.com/80/85/" alt=""></div>
        <div>Value 6<img src="http://lorempixel.com/80/86/" alt=""></div>
        <div>Value 7<img src="http://lorempixel.com/80/87/" alt=""></div>
        <div>Value 8<img src="http://lorempixel.com/80/88/" alt=""></div>
        <div>Value 9<img src="http://lorempixel.com/80/89/" alt=""></div>
        <div>Value 10<img src="http://lorempixel.com/80/90/" alt=""></div>
    </div>
</div>
<img  alt="">