<div class="row">
    <div class="multiple-items">
        <div><img src="http://lorempixel.com/100/71/" alt=""></div>
        <div><img src="http://lorempixel.com/100/72/" alt=""></div>
        <div><img src="http://lorempixel.com/100/73/" alt=""></div>
        <div><img src="http://lorempixel.com/100/74/" alt=""></div>
        <div><img src="http://lorempixel.com/100/75/" alt=""></div>
        <div><img src="http://lorempixel.com/100/76/" alt=""></div>
    </div>
</div>