<div class="row">
    <div class="col-xs-12">
        <h3><strong>Galería de Imágenes</strong></h3>
        <div class="multiple-items slider-imagenes">
            <div>
                <img src="http://lorempixel.com/100/71/" alt="">
                <p>Abrazadera 1 pie zincada 57</p>
            </div>
            <div>
                <img src="http://lorempixel.com/100/72/" alt="">
                <p>Abrazadera 1 pie zincada 59</p>
            </div>
            <div>
                <img src="http://lorempixel.com/100/73/" alt="">
                <p>Abrazadera 1 pie zincada 61</p>
            </div>
            <div>
                <img src="http://lorempixel.com/100/74/" alt="">
                <p>Abrazadera 1 pie zincada 63</p>
            </div>
            <div>
                <img src="http://lorempixel.com/100/75/" alt="">
                <p>Abrazadera 1 pie zincada 65</p>
            </div>
            <div>
                <img src="http://lorempixel.com/100/76/" alt="">
                <p>1 pie zincada 65</p>
            </div>
        </div>
    </div>
</div>