<div class="row">
    <div class="col-xs-12">
        <h3 class="titulos"><strong>Videos de la Empresa</strong></h3>
        <div class="multiple-items">
            <div>
                <img 
                src="https://i.ytimg.com/vi/gVhd_vLYgd4/hqdefault.jpg" 
                alt="">
            </div>
            <div>
                <img 
                src="https://i.ytimg.com/vi/J44NKsBg20w/hqdefault.jpg" 
                alt="">
                <span class="fa fa-play video"></span>
            </div>
            <div>
                <img 
                src="https://i.ytimg.com/vi/vKUiaMEOH18/hqdefault.jpg" 
                alt="">
            </div>
            <div>
                <img 
                src="https://i.ytimg.com/vi/nZolJafJM_c/hqdefault.jpg" 
                alt="">
            </div>

        </div>
    </div>
</div>

