<div class="row">
	<div class="top_menu">
	<a href="{{base_url()}}">
		<img src="{{ img_url() }}proveedor-com-co-logo-empresas-haciendo-negocios.png" class="imagen">
	</a>
    <p class="texto pull-right">
			<a href="{{ base_url() }}registro/registrar">
				<i class="fa fa-pencil icono"></i>
				Registro Gratis
			</a>
		</p>
		<p class="texto pull-right">
			<a href="{{ base_url() }}logueo">
				<i class="fa fa-user icono"></i>
				Ingresar
			</a>
		</p>
	</div>
</div>