<div class="row">
	<div class="top_menu">
		<img src="http://www.proveedor.com.co/assets/img/imagen_empresa/captura1.png" class="imagen">
    <p class="texto pull-right">
			<i class="fa fa-pencil icono"></i>
			Registro Gratis
		</p>
		<p class="texto pull-right">
			<i class="fa fa-user icono"></i>
			Ingresar
		</p>
	</div>
</div>