<div class="row">
	<div class="col-xs-12 vision">
        <h4 class="font-naranja titulo"><i class="glyphicon glyphicon-flag ico_bandera"></i>VISIÓN</h4>
        <p class="texto_vision">{{empresa.vision}}</p>
    </div>
	<!-- /.col-xs-12 -->
</div>
<!-- /.row -->