.contenedor_adsense{
	background-color: whitesmoke;
    padding-top: 10px;
	margin: 25px 0 0 0;
	height: 116px;
}
.publi_adsense{
	max-max-width: 728px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 14px !important;
    background-color: #fff;
    text-align: center;    
}
.public_title{
	margin-left: 23%;
	font-size: 9px;
	margin-bottom: 0;
	margin-top: 3px;
}

/* Estilos del banner de adsense en listados */
.contenedor_listados_adsense{
	background-color: whitesmoke;
	margin: 10px 0;
	height: 116px;
}
.listados_adsense{
	max-width: 728px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 14px !important;
    background-color: #fff;
    text-align: center;    
}
.lista_publi_title{
	margin-left: 23.1%;
	font-size: 9px;
	margin-bottom: 0;
	margin-top: 3px;
}



/* Estilos del banner de adsense en listados */
.contenedor_producto_adsense{
    padding-top: 10px;
	background-color: whitesmoke;
	margin: 10px 0;
	height: 116px;
}
.productos_adsense{
	max-width: 728px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 14px !important;
    background-color: #fff;
    text-align: center;    
}
.produc_publi_title{
	margin-left: 23.1%;
	font-size: 9px;
	margin-bottom: 0;
	margin-top: 3px;
}


/* Estilos del banner de adsense en oportunidades */
.contenedor_oportunidad_adsense{
    padding-top: 10px;
	background-color: whitesmoke;
	margin: 10px 0;
	height: 116px;
}
.oportunidad_adsense{
	max-width: 728px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 14px !important;
    background-color: #fff;
    text-align: center;    
}
.oporuni_publi_title{
	margin-left: 23.1%;
	font-size: 9px;
	margin-bottom: 0;
	margin-top: 3px;
}