.banner_publicidad{
   background-color: whitesmoke;
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 15px;
    margin-bottom: 2px;
    padding-right: 15px;
    height: 116px;
}

.title{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 25px;
}