.pagina_producto{
	border: 15px solid #f9f9f9;
}
.pagina_producto .contenedor_imagen{
	padding-right: 0;
	padding-top: 20px;
	padding-left: 0;
}
.pagina_producto .background_imagen{
	display: table;
	border: 0;
	border-radius: 3px;
	position: relative;
	width: 316px;  
	height: 325px;
	margin-top: -45px;
	padding-top: 20px;
}
.pagina_producto .center-vertical_imagen{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.pagina_producto .img_imagen{
	max-width: 316px;
	max-height: 160px;
}
.pagina_producto .imagen{
	border: 1px solid #F9F9F9;
}
.pagina_producto .mini{
	padding: 0;
	width: 55px;
}
.pagina_producto .miniaturas{
	padding-left: 60px;
}
.pagina_producto .texto_mini{
	font-size: 9px;
	color: #7F7F7F;
}
.pagina_producto .imag{
	width: 55px;
	height: 55px;
}
.pagina_producto .contenedor_descripciones{
	padding-left: 0;
	padding-right: 0;
}
.pagina_producto .nom_producto{
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	border-bottom: 1px solid #F4F4F4;
}
.pagina_producto .content_producto{
	padding-top: 25px;
}
.pagina_producto .precio{
	font-weight: bold;
}
.pagina_producto .pedido_min{
	font-weight: bold;
}
.pagina_producto .tiempo_entrega{
	font-weight: bold;
}
.pagina_producto .capacidad_sum{
	font-weight: bold;
}
.pagina_producto .fecha_publi{
	font-weight: bold;
}
.pagina_producto .lugar_entrega{
	font-weight: bold;
}
.pagina_producto .estado{
	font-weight: bold;
}
.pagina_producto .valor_estado{
	padding-top: 18px;
}
.pagina_producto .sitio{
	padding-top: 18px;
	font-size: 11px;
}
.pagina_producto .valor{
	font-weight: bold;
	font-size: 16px;
}
.pagina_producto .sonrisa_precio{
	padding-left: 25px;
	margin-top: -16px;
}
.pagina_producto .slash{
	color: #FF7E26;
	font-size: 30px;
	padding-left: 10px;
}
.pagina_producto .unidad{

}
.pagina_producto .icono_precio{
	color: #FF7E26;
	padding-top: 8px;
}
.pagina_producto .cant_unidades{
	padding-top: 21px;
	font-size: 12px;
}
.pagina_producto .cant{
	color:black;
}
.pagina_producto .valor_entrega{
	padding-top: 21px;
	font-size: 12px;
}
.pagina_producto .forma_pago{
	font-weight: bold;
}
.pagina_producto .tipo_pago{
	height: 43px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
	padding-top: 5px;
}
.pagina_producto .cantidad_capacidad{
	padding-top: 21px;
	font-size: 12px;
}
.pagina_producto .fecha_p{
	padding-top: 11px;
}
.pagina_producto .contenedor_botones1{
	padding-top: 30px;
}
.pagina_producto .contactar{
	width: 260px;
	height: 50px;
	text-align: center;
	background: #FF7F27;
	padding-top: 9px;
	border-radius: 6px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.pagina_producto .contacto{
	color: white;
	font-size: 20px;
	text-decoration: none;
}
.pagina_producto .chatear{
	width: 260px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	background: #00A2E8;
	padding-top: 9px;
	border-radius: 6px;
}
.pagina_producto .chat{
	color: white;
	font-size: 22px;
	text-decoration: none;
}
.pagina_producto .sobre{
	font-size: 27px;
}
.pagina_producto .globo{
	font-size: 26px;
}
.pagina_producto .contenedor_descrip_producto{
	background: #f9f9f9;
	width: 207px;
	height: 50px;
	text-align: center;
	padding-top: 17px;
	margin-top: 1px;
}
.pagina_producto .nombre_empresa{
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #F4F4F4;
}
.pagina_producto .nom_empresa{
	font-size: 19px;
	font-weight: bold;
	padding-top: 20px;
	color: #00A2E8;
}
.pagina_producto .info_contacto{
	padding-top: 15px;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #F4F4F4;
}
.pagina_producto .info{
	color: #0066DD;
	font-size: 15px;
	margin-bottom: 4px;
}
.pagina_producto .carnet{
	color: black;
	font-size: 14px;
}
.pagina_producto .tipo_empresa{
	font-size: 11px;
	font-weight: bold;
}
.pagina_producto .ubicacion{
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 0;
}
.pagina_producto .tipo{
	font-weight: normal;
}
.pagina_producto .ubica{
	font-weight: normal;
}
.pagina_producto .contenedor_catalogo{
	padding-top: 15px;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #F4F4F4;
}
.pagina_producto .ico_catalogo{
	font-size: 24px;
	padding-right: 8px;
	color: black;
}
.pagina_producto .ico_solicitados{
	font-size: 24px;
	padding-right: 8px;
	color: black;
	margin-left: -2px;
}
.pagina_producto .catalogo{
	font-size: 13px;
	color: #7F7F7F;
}
.pagina_producto .productos{
	font-size: 12px;
}
.pagina_producto .llamada{
	padding-top: 40px;
	padding-left: 0;
	padding-right: 0;
}
.pagina_producto .llamar{
	font-size: 18px;
	text-decoration: none;
	color: white;
}
.pagina_producto .boton_llamada{
	padding-left: 0;
	padding-right: 0;
	background: #00A2E8;
	height: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 5px;
}
.pagina_producto .ico_llamar{
	font-size: 30px;
	padding-top: 4px;
}
.pagina_producto .contenedor_empresa{
	border-left: 15px solid #f9f9f9;
	padding-bottom: 118px;
	padding-right: 0;
}
/*verificación*/
.pagina_producto .verificada{
	margin-top: -10px;
}
.pagina_producto .imagen_verificada{
	width: 30px;
  	max-width: 30px;
  	margin-left: 15px;
  	margin-top: 5px;
}
.pagina_producto .texto_verificada{
	font-size: 12px;
  	color: #1D71B8;
  	font-weight: bold;
  	padding-left: 10px;
  	padding-top: 10px;
  	padding-bottom: 10px;
}
/*--------------------------------------*/
.pagina_producto .content_titulo_membresia_list{
	width: initial;
	margin-bottom: -12px;
}
.pagina_producto .texto_platino_list{
	font-size: 12px;
	color: #1D71B8;
	font-weight: bold;
  	margin-top: 12px;
  	padding-left: 5px;
}
.pagina_producto .imagen_platino_list{
    width: 50px;
  	margin-left: 5px;
  	max-width: 50px;
  	margin-top: -6px;
  	margin-bottom: 20px;
}
.pagina_producto .texto_verificada_list{
    font-size: 12px;
    color: #1D71B8;
    font-weight: bold;
    float: right;
    padding-right: 127px;
    margin-top: 10px;
}
.pagina_producto .imagen_verificada_list{
    width: 17%;
    margin-left: 9px;
    max-width: 25%;
    margin-top: -1px;
    margin-bottom: 22px;
}
.pagina_producto .imagen_estandar_list{
    width: 50px;
  	max-width: 50px;
  	margin-top: -5px;
  	margin-bottom: 20px;
  	margin-left: 5px;
}
.pagina_producto .texto_membresiaEstandar_list{
	font-size: 12px;
	color: #7F7F7F;
	font-weight: bold;
	margin-top: 10px;
}
.contenedor_tabs_prod{
	padding-top: 40px;
	padding-left: 0;
	padding-right: 0;
	border: 15px solid #f9f9f9;
}
.contenedor_tabs_prod .pestanas{
	padding-left: 60px;
}
.contenedor_tabs_prod .content_pestanas{
	padding-left: 35px;
	padding-top: 27px;
}
.contenedor_tabs_prod .texto{
	padding-left: 20px;
}
.contenedor_publica_producto_prod{
	padding-top: 200px;
}
.contenedor_publica_producto_prod .publicar_prod{
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 270px !important;
	padding-top: 10px;
}
.contenedor_publica_producto_prod .clientes{
	margin-bottom: 0;
	font-weight: bold;
	font-size: 17px;
}
.contenedor_publica_producto_prod .publicar{
	font-weight: bold;
	font-size: 17px;
	color: #FF7F27;
}
.contenedor_publica_producto_prod .contenedor_publicar{
	padding-top: 7px;
}
.contenedor_botones_prod{
	padding-top: 30px;
	padding-left: 0!important;
	padding-right: 0!important;
	border: 15px solid #f9f9f9;
	border-bottom: 145px solid #f9f9f9;
	padding-bottom: 25px;
}
.contenedor_botones_prod .contactar{
	height: 50px;
	text-align: center;
	background: #FF7F27;
	padding-top: 9px;
	border-radius: 6px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.contenedor_botones_prod .contacto{
	color: white;
	font-size: 20px;
	text-decoration: none;
}
.contenedor_botones_prod .chatear{
	height: 50px;
	text-align: center;
	text-decoration: none;
	background: #00A2E8;
	padding-top: 9px;
	border-radius: 6px;
}
.contenedor_botones_prod .chat{
	color: white;
	font-size: 22px;
	text-decoration: none;
}
.contenedor_botones_prod .sobre{
	font-size: 27px;
}
.contenedor_botones_prod .globo{
	font-size: 26px;
}
.pagina_producto .style-glyphicon-briefcase{
	font-size: 30px;
	left: 15px;
	padding-bottom: 20px;
	color: #1d71b8;
}